/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul[class],
ol[class] {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: inherit;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Variables */

:root {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --neon-light: #01ecff;
    --animation: .2s ease-in;
}


/*fonts*/

@font-face {
    font-family: Sanotra;
    src: url('../assets/Sanotra.woff') format('woff'), url('../assets/Sanotra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Main */

body {
    font-family: 'Chivo', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1d1d1d;
}

nav {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: .8em;
    font-weight: 700;
    padding: 1em 0;
    text-transform: uppercase;
    transition: all var(--animation);
    border-bottom: 2px solid transparent;
}

nav>* {
    display: inline-block;
    text-align: center;
    width: 33vw;
}

@media screen and (max-width:1200px) {
    nav>* {
        width: auto;
    }
    nav>a {
        width: 20vw;
    }
}

@media screen and (max-width:640px) {}

nav a:hover {
    color: var(--neon-light);
    border-color: var(--neon-light);
}

.social-icons a {
    display: inline-block;
    margin: 0 .8em;
}

.social-icons a svg {
    height: 1.25em;
    width: 1.5em;
}

main {
    margin-top: 50px;
    min-height: calc(100vh - 100px);
}

footer {
    width: 100%;
    text-align: center;
    font-size: .64em;
    opacity: .8;
}

footer a {
    text-decoration: none;
}

.vinyl {
    /* transition: 4s linear; */
}

.vinyl:hover {
    /* animation: 4s linear infinite rotate(720deg); */
}

.hero {
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 20vw;
    font-family: Sanotra, Arial, serif;
    text-shadow: 0.1em 0.1em 0.1em var(--neon-light);
}

.hero h1:hover {
    /* transform: skew(45deg) */
}